.card {
	background-color: $card-background-1;
	border: 1px solid black;
	margin: $s-size;
	width: 190px;
	height: 230px;
	padding: 5px;
}

.card__name {
	font-weight: 700;
} 

.card__special-text {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__flavour-text {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.card__highlighted {
	box-shadow: 0px 0px 15px blueviolet;
}

.btn-primary {
	margin: 5x 0px 5px 0px;
}

.card__unplayed {
	background-color: darken($card-background-1, 25%);
	margin-top: 5px;
	padding: 4px;
	width: 100%;
}

.card__unplayed__highlighted {
	box-shadow: 0px 0px 15px blueviolet;
}