.deck__modal, .discard__modal, .add-card__modal{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.discard__modal__title, .deck__modal__title, .add-card__modal__title {
	font-weight: bold;
}

@media (min-width: 768px) {
	.modal-dialog {
	  	width: 90%;
	  	max-width:1200px;
	}
	.modal-content {
	 	width: 90%;
		max-width:1200px;
	}
  }