.enemy {
	background-color: rgb(187, 112, 42);
	border: 1px solid black;
	margin: $s-size;
	max-width: 200px;
	padding: 5px;
}

.enemy__name {
	font-weight: 700;
} 

.enemy__hp {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enemy__defense {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.enemy__next-move {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}
