.enemy {
	background-color: $enemy-background;
	border: 1px solid black;
	margin: $s-size;
	max-width: 170px;
	padding: 5px;
	// transition: transform .2s; /* Animation */
}

.enemy__name {
	font-weight: 700;
} 

.enemy__portrait {
	max-width: 60%;
}

.enemy__hp {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enemy__defense {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.enemy__next-move {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.enemy__highlighted {
	outline: 4px solid gold;
}

.enemy__is-active {
	background-color: lighten($enemy-background, 25%);
	box-shadow: 0px 0px 5px cyan;
}
