.player {
	background-color: $player-background;
	border: 1px solid black;
	margin: $s-size;
	max-width: 200px;
	padding: 5px;
	// transition: transform .2s; /* Animation */
}

.player__name {
	font-weight: 700;
} 

.player__hp {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.player__portrait {
	max-width: 60%;
}

.player__defense {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.player__highlighted {
	outline: 4px solid gold;
}

.player__is-active {
	background-color: lighten($player-background, 25%);
	box-shadow: 0px 0px 5px cyan;
}