.player {
	background-color: rgb(42, 187, 114);
	border: 1px solid black;
	margin: $s-size;
	max-width: 200px;
	padding: 5px;
}

.player__name {
	font-weight: 700;
} 

.player__hp {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.player__defense {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}