{
	"extends": "airbnb",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"react/jsx-filename-extension": 0,
		"react/jsx-indent": ["error", "tab"],
		"indent":["error", "tab"],
		"no-tabs": 0,
		"no-unused-vars": ["warn", { "vars": "local", "args": "none" }],
		"linebreak-style": 0
	}
}